.app-footer {
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: repeat(2, auto);
  background-color: #dfe4f5;
}

.app-footer > * {
  grid-column: 2;
}

.app-footer .full {
  grid-column: 1 / -1;
}

.app-footer-logo {
  max-width: 200px;
}

.app-footer-links {
  display: flex;
  gap: 2em;

  & ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    & h3 {
      margin-top: 0;
      margin-bottom: 0.5em;
    }
  }

  .app-footer-links-list {
    display: flex;
    gap: 1em;
    justify-content: space-around;
  }
}

.app-footer-links-section {
  width: 100%;
}

.app-footer-links {
  padding: 2em 0;
}
