$border-props: 3px solid #ffb235;

.app-header-top {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-dark);

  .app-header-top-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
    gap: 1em;

    @media (min-width: 1250px) {
      flex-direction: row;
    }

    & > span {
      padding: 5px 0;
    }
  }

  .user-info-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-direction: column;

    @media (min-width: 1250px) {
      flex-direction: row;
    }

    & > li {
      @media (min-width: 1250px) {
        border-left: $border-props;
      }
    }

    & > li:last-child {
      margin-top: 10px;
      @media (min-width: 1250px) {
        margin-top: 0;
        border-right: $border-props;
      }
    }

    & > li {
      display: flex;
      gap: 1rem;
      align-items: center;
      height: 100%;
      padding: 0 20px;
    }
  }
}
