.app-layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(10px, 300px) minmax(90%, 1fr) minmax(
      10px,
      300px
    );
  min-height: 100vh;
  & > * {
    grid-column: 2;
  }

  & .full {
    grid-column: 1 / -1;
  }
}

#root > main {
  padding: 2em 0;
}
