.combobox-container {
  position: relative;

  .combobox-option {
    display: flex;
    align-items: center;
    gap: 5px;
    white-space: nowrap;
  }

  .combobox-input {
    max-width: 300px;
  }

  .combobox-options {
    position: absolute;
    background-color: white;
    border-radius: 2px;
    border: 1px solid #202020;
    top: 105%;

    & > div {
      padding: 5px 10px;
      cursor: pointer;
      &:hover {
        background-color: #eee;
      }
    }
  }
}
